:root{
  --verde: rgb(3, 119, 9);
  --marrom:rgb(117, 73, 11);
  --claro: rgb(222, 243, 220);
  --verdenho: rgb(143, 248, 6);
  --verdinho: rgb(63, 85, 4);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*base*/
body{
  background: var(--claro);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

header .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  color: var(--verde);
  margin-left: 5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
}

header nav a {
  text-decoration: none;
  color: var(--marrom);
  margin-right: 10px;
}

header nav a:hover{
  color: var(--verdenho);
}

/*Principal*/
.plantas-principais{
  font-size:15px;
  background: linear-gradient(rgba(1, 49, 5, 0.5), rgba(1, 49, 5, 0.5)100%), url(../img/capa.jpg);

  height: 400px;
  background: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}
.plantas-principais .descricao{
  margin-top: 10px;
  margin-bottom: 40px;

}
.plantas-principais .titulo{
  margin-top: 15%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
}

.botao{
  background-color: rgba(0,0,0,.50);
  border: none;
  color: white;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: .3s ease all;
}
.botao:hover{
  background-color:white;
  color: black
}
.botao i{
  margin-right: 8px;
}

.container{
  margin-left: 30px;
}
.plantas-principais .container{
  width: 70%;
}

.box-plantas{
  height: 100%;
  width: 100%;
  display: block;
}

.carrossel-plantas{
  margin-top: 5px;
}